
<div style="margin-left:15rem;margin-right:15rem;">
    <h1>Reset Password Confirmation</h1>
    <p>
        Your Password has been reset. Please <a asp-controller="Admin" asp-action="Login">Click here to login</a>
    </p>
</div>